@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    font-family:'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --green: #01a11c;
    --white: #fff;
    --grey: #f5f5f5;
    --black1: #222;
    --black2: #999;
}

body{
    min-height: 100vh;
    overflow-x: hidden;
}

.container{
    position: relative;
    width: 100%;
}

.navigation{
    position:fixed;
    width: 300px;
    height: 100%;
    background: var(--green);
    border-left: 10px solid var(--green);
    transition: 0.5s;
    overflow: hidden;
}

.navigation.active{
    width: 80px;
}

.navigation ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.navigation ul li{
    position: relative;
    width: 100%;
    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.navigation ul li:hover,
.navigation ul li.hovered{
    background: var(--white);
}

.navigation ul li:nth-child(1){
    margin-bottom: 40px;
    pointer-events: none;
}

.navigation ul li a{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: var(--white);
}

.navigation ul li:hover a,
.navigation ul li.hovered a{
    color: var(--green);
}

.navigation ul li a .icon{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}

.navigation ul li a .icon i{
    font-size: 1.56em;
}

.navigation ul li a .title{
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
}

/*  Curvas exteriores  */

.navigation ul li:hover a::before,
.navigation ul li.hovered a::before{
    content: '';
    position: absolute;
    right: 0;
    top: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px 35px 0 10px var(--white);
    pointer-events: none;
}

.navigation ul li:hover a::after,
.navigation ul li.hovered a::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px -35px 0 10px var(--white);
    pointer-events: none;
}

/* Inicio */

.main{
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    min-height: 100vh;
    background: var(--white);
    transition: 0.5s;
}

.main.active{
    width: calc(100% - 80px);
    left: 80px;
}

.topbar{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.toggle{
    position: relative;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    cursor: pointer;
}

.busqueda{
    position: relative;
    width: 400px;
    margin: 0 10px;
}

.busqueda label{
    position: relative;
    width: 100%;
}

.busqueda label input{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    padding: 5px 20px;
    padding-left: 37px;
    font-size: 18px;
    outline: none;
    border: 1px solid var(--black2);
}

.busqueda label i{
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 1.2em;
}

.usuario{
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.usuario img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pedidos{
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 30px;
    /* margin-top: 10px; */
}

.pedidos .vistaPedido{
    position: relative;
    display: grid;
    min-height: 500px;
    background: var(--white);
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
}

.cardHeader{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.cardHeader h2{
    font-weight: 600;
    color: var(--green);
}

.btn{
    position: relative;
    padding: 5px 10px;
    background: var(--green);
    text-decoration: none;
    color: var(--white);
    border-radius: 6px;
}

.mostrar-compra{
    padding:2rem 9%;
}

.btn.pagar{
    display: none;
}

.shopping-cart{
    padding:1rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    background: #fff;
}

.shopping-cart.active{
    right:2rem;
    text-align: center;
}

.shopping-cart .box{
    display: inline-block;
    text-align: center;
    align-items: center;
    gap:1rem;
    position: relative;
    margin:1rem 0;
}

.shopping-cart .box img{
    display: inline-block;
    width: 10rem;
    height:7.5rem;
    margin: 20px 0;
}

.shoppingCartItem{
    border: 1px solid var(--black1);
}

.item-price{
    margin-left: 50px;
}

.shopping-cart .box .fa-trash{
    display: none;
}

.shopping-cart .box .content h3{
    display: inline-block;
    color:var(--black1);
    font-size: 1.5rem;
    padding-bottom: 1rem;
    margin-right: 3rem;
}

.shopping-cart .box .content span{
    display: inline-block;
    color:var(--light-color);
    font-size: 1.5rem;
    margin-right: 3rem;
}

.shopping-cart .box .content .quantity{
    display: inline-block;
    padding-left: 1rem;
    color:var(--light-color);
    font-size: 1.5rem;
    width: 50px;
}
.shopping-cart .total{
    font-size: 3rem;
    padding:1rem 0;
    text-align: center;
    color:var(--black);
}

.shopping-cart .box .content span .span-quantity{
    display: inline-block;
    color: #fff;
}

.shopping-cart .btn{
    display: none;
}

.compra-total{
    display: none;
}

.wrapper{
    max-width: 800px;
    width: 100%;
    background: #fff;
    margin: 20px auto;
    padding: 30px;
}
  
.wrapper .title{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 25px;
    color: var(--green);
    text-transform: uppercase;
    text-align: center;
}
  
.wrapper .form{
    width: 100%;
}
  
.wrapper .form .inputfield{
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}
  
.wrapper .form .inputfield label{
     width: 200px;
     color: #757575;
     margin-right: 10px;
    font-size: 14px;
}
  
.wrapper .form .inputfield .custom_select{
    position: relative;
    width: 100%;
    height: 37px;
}
  
.wrapper .form .inputfield .custom_select:before{
    content: "";
    position: absolute;
    top: 12px;
    right: 10px;
    border: 8px solid;
    border-color: #d5dbd9 transparent transparent transparent;
    pointer-events: none;
}
  
.wrapper .form .inputfield .custom_select select{
    -webkit-appearance: none;
    -moz-appearance:   none;
    appearance:        none;
    outline: none;
    width: 100%;
    height: 100%;
    border: 0px;
    padding: 8px 10px;
    font-size: 15px;
    border: 1px solid #d5dbd9;
    border-radius: 3px;
}
  
.wrapper .form .inputfield .custom_select select:focus{
    border: 1px solid var(--green);
}
  
.wrapper .form .inputfield .btn-update{
    width: 40%;
    padding: 8px 10px;
    font-size: 15px; 
    border: 0px;
    background:  #10a702;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
    outline: none;
    margin-right: 50px;
}
  
.wrapper .form .inputfield .btn-update:hover{
    background: #14ca03;
}

.wrapper .form .inputfield .btn-delete{
    width: 40%;
    padding: 8px 10px;
    font-size: 15px; 
    border: 0px;
    background:  #cf0801;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
    outline: none;
    text-decoration: none;
    text-align: center;
}
  
.wrapper .form .inputfield .btn-delete:hover{
    background: #f10a02;
}

.wrapper .form .inputfield:last-child{
    margin-bottom: 0;
}
  

/* Responsive */

@media (max-width: 1050px){

    .navigation{
        left: -300px;
    }

    .navigation.active{
        width: 300px;
        left: 0;
    }

    .main{
        width: 100%;
        left: 0;
    }

    .main.active{
        left: 300px;
    }
    
}

@media (max-width: 800px){

    .pedidos{
        grid-template-columns: repeat(1, 1fr);
    }

    .vistaPedido{
        overflow-x: auto;
    }
}

@media (max-width: 520px){

    .usuario{
        min-width: 40px;
    }

    .navigation{
        width: 100%;
        left: -100%;
        z-index: 1000;
    }

    .navigation.active{
        width: 100%;
        left: 0;
    }

    .toggle{
        z-index: 10001;
    }

    .main.active .toggle{
        position: fixed;
        right: 0;
        left: initial;
        color: var(--white);
    }
}